.root {
    -fx-base: #272727;
    -fx-background: #272727;
    -fx-accent: #FF8C00;
}

.jfx-rippler {
    -jfx-rippler-fill: rgba(255, 140, 0, 1);
}

.jfx-decorator {
    -fx-decorator-color: #202020;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 8 8 8;
}

.jfx-button:hover {
    -fx-cursor: hand;
}

.jfx-button:hover SVGPath {
    -fx-fill: #FF8C00;
}

.jfx-text-field, .jfx-password-field {
    -fx-text-fill: #FF8C00;
}